## Keras model on SAS-transformed data
Matt Doughty performed the transformation. We'll start with an analysis of the sample results on the first 11 columns of g-data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
datafile = "../train_features_transform_g0_g10.csv"
cols = ['sig_id']
for i in range(11):
    cols.append('g_'+str(i)+'_t')
samp_df = pd.read_csv(datafile,index_col='sig_id',usecols=cols)

In [9]:
samp_df.head()

,g_0_t,g_1_t,g_2_t,g_3_t,g_4_t,g_5_t,g_6_t,g_7_t,g_8_t,g_9_t,g_10_t
sig_id,,,,,,,,,,,
id_42215c7fd,0.41175,0.34360,0.86345,3.86219,-0.25946,-0.51286,-1.73248,-2.43975,0.53971,0.99766,1.88716
id_dbf8478fa,0.72264,1.21329,-0.53749,0.04845,-0.22536,-1.37805,-0.58401,0.27267,0.95185,0.67996,0.22553
id_84a3d00c9,-0.24679,-0.40422,-0.46749,0.38444,-2.42535,-0.18871,-0.34036,0.25205,0.65806,0.25501,0.24303
id_4cf86d157,-0.39305,0.04521,-1.31761,-0.58849,0.09564,0.24584,0.14718,-0.03360,0.13848,1.02250,0.20888
id_c5fddd133,0.11083,0.48504,-0.21530,0.06582,0.42720,0.33063,0.29688,0.54348,0.34426,-0.40017,-0.17602

In [10]:
for col in list(samp_df.columns):
    print('Column',col,'mean is',samp_df[col].mean(),'and std dev is',samp_df[col].std())

Column g_0_t mean is -0.025818099999999986 and std dev is 0.9590606397230838
Column g_1_t mean is 0.03570359999999998 and std dev is 0.9144737145843488
Column g_2_t mean is -0.0475556 and std dev is 1.043986633533498
Column g_3_t mean is -0.12573319999999996 and std dev is 1.3390364950540468
Column g_4_t mean is 0.09063029999999998 and std dev is 1.2144091202716238
Column g_5_t mean is -0.09525360000000001 and std dev is 0.8647872955685739
Column g_6_t mean is -0.04426179999999999 and std dev is 0.9160173368197257
Column g_7_t mean is 0.042381600000000005 and std dev is 0.9212646113767704
Column g_8_t mean is 0.1269368 and std dev is 0.9200405075918443
Column g_9_t mean is -0.0758008 and std dev is 1.0050341786787576
Column g_10_t mean is 0.08425149999999998 and std dev is 0.9683205954144463

That looks good enough for the purpose.